<!-- <h1>App - {{ title }}</h1>
<h2 *ngIf="x">Hello !!</h2>
<ul>
  <li *ngFor="let item of items">
    {{ item }}
  </li>
</ul> -->

<!-- <h1>{{ counter }}</h1>
<button (click)="increment()">+</button>
<button (click)="decrement()">-</button> -->

<app-todos></app-todos>
