* {
  box-sizing: border-box;
}

.app {
  padding-top: 100px;
}

.todos__form {
  margin-bottom: 30px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo__check {
  margin-right: 10px;
}

.todo__remove {
  color: red;
  cursor: pointer;
}

.todo--done {
  background-color: #e0e0e0;
}

.todo--done .todo__text {
  text-decoration: line-through;
}
